// sass语法
//     sass的使用
//     兼容所有css语法
//     变量、嵌套、混合、继承等
    
//全局变量     
$a:#aaa;
$c:#ccc;
$f:#fff;
$hover:#FF3030;

#y_search{
    .w{
        height:100px;padding-top:5px;
        .y_Smiddle{
            margin-left:340px;
            margin-top:24px;
            .y_Sfind{
                display: block;
                width: 220px;
                height:36px;
                padding-left:5px;
                line-height:36px;
                border:1px solid #666;
                border-right:none;
                font-size:14px;
            }
            .y_Sbtn{
                @extend .y_Sfind;
                width:60px;
                text-align: center;
                padding:0;
                border:none;
                background: #888;
                color:$f;
                font-weight: bold;
            }
            .y_Sbtn:hover{cursor:pointer;color:$hover;}
            .y_hotKey{
                li{
                    float:left;
                    margin:5px 10px 0 0;
                    color:$a;
                }
                li:hover{cursor:pointer;color:$hover;}
            }
        }
    }
}