#y_main .w .y_advOne .y_advOneL, #y_main .w .y_advOne .y_advOneC, #y_main .w .y_advOne .y_advOneR {
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px 0 #ccc;
  padding: 5px;
  text-align: center;
}

#y_main .w .y_advOne .y_advOneL img, #y_main .w .y_advOne .y_advOneC img, #y_main .w .y_advOne .y_advOneR img {
  width: 310px;
  height: 170px;
}

#y_main .w .y_advOne .y_advOneL p, #y_main .w .y_advOne .y_advOneC p, #y_main .w .y_advOne .y_advOneR p {
  padding-top: 10px;
}

#y_main .w .y_content .y_Cmaxbox .y_Cleft li:nth-child(2) a, #y_main .w .y_content .y_Cmaxbox .y_Cleft li:last-child a {
  display: block;
  height: 25px;
  line-height: 25px;
  padding-left: 22px;
}

#y_main .w .y_advOne {
  height: 210px;
  display: flex;
  margin-bottom: 20px;
}

#y_main .w .y_advOne .y_advOneC {
  margin: 0 12px;
}

#y_main .w .y_advOne .y_advOneC img {
  width: 501px;
  height: 170px;
}

#y_main .w .y_drill {
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 1px 1px 1px 0 #ccc;
  margin-bottom: 20px;
}

#y_main .w .y_drill .y_DL {
  display: block;
  width: 600px;
  height: 112px;
}

#y_main .w .y_drill .y_DR {
  float: right;
  width: 530px;
  height: 122px;
  border: 1px solid #ccc;
  padding: 5px;
  position: relative;
}

#y_main .w .y_drill .y_DR .y_DRleft {
  width: 200px;
}

#y_main .w .y_drill .y_DR .y_DRleft div {
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-bottom: 10px;
}

#y_main .w .y_drill .y_DR .y_DRleft div i {
  display: inline-block;
  width: 45px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-right: 1px solid #ccc;
  color: #696969;
  font-weight: bold;
  background: url("../img/2.png") 1px 1px no-repeat;
  vertical-align: middle;
}

#y_main .w .y_drill .y_DR .y_DRleft div input {
  width: 44px;
  height: 24px;
  line-height: 24px;
  border: 1px solid #ccc;
  vertical-align: middle;
  margin: 0 1px;
  font-size: 14px;
  padding-left: 5px;
}

#y_main .w .y_drill .y_DR .y_DRleft div p {
  height: 30px;
  line-height: 30px;
  padding-right: 2px;
}

#y_main .w .y_drill .y_DR .y_DRleft div p span {
  display: inline-block;
  width: 33px;
  height: 19px;
  line-height: 20px;
  text-align: center;
  color: #636363;
  font-weight: normal;
  background: url("../img/1(1).png") no-repeat;
  margin: 0 1px;
}

#y_main .w .y_drill .y_DR .y_DRright .y_color, #y_main .w .y_drill .y_DR .y_DRright .y_clarity {
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-bottom: 10px;
}

#y_main .w .y_drill .y_DR .y_DRright .y_color div:first-child, #y_main .w .y_drill .y_DR .y_DRright .y_clarity div:first-child {
  width: 45px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-right: 1px solid #ccc;
  color: #696969;
  font-weight: bold;
  background: url("../img/2.png") 1px 1px no-repeat;
}

#y_main .w .y_drill .y_DR .y_DRright .y_color div:last-child, #y_main .w .y_drill .y_DR .y_DRright .y_clarity div:last-child {
  line-height: 30px;
}

#y_main .w .y_drill .y_DR .y_DRright .y_color div:last-child span, #y_main .w .y_drill .y_DR .y_DRright .y_clarity div:last-child span {
  display: inline-block;
  width: 29px;
  height: 19px;
  text-align: center;
  line-height: 20px;
  background: url("../img/1.png") no-repeat;
  margin: 0 3px;
}

#y_main .w .y_drill .y_DR .y_DRright .y_clarity div:last-child span {
  width: 35px;
  background: url("../img/1(1).png") no-repeat;
  margin: 0 3px;
}

#y_main .w .y_drill .y_DR .y_drillBtn {
  width: 90px;
  height: 30px;
  color: #fff;
  line-height: 30px;
  text-align: center;
  border-radius: 3px;
  font-size: 14px;
  background: #CDC1C5;
  position: absolute;
  right: 5%;
  bottom: 5%;
}

#y_main .w .y_drill .y_DR .y_drillBtn:hover {
  box-shadow: 1px 1px 1px 0 #ccc;
  cursor: pointer;
  color: #FF3030;
}

#y_main .w .y_content .y_Cmaxbox {
  width: 100%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px 0 #ccc;
  padding: 5px;
  margin-top: 20px;
}

#y_main .w .y_content .y_Cmaxbox .y_Cleft {
  background: #F9F9F9;
  width: 309px;
  height: 429px;
  padding: 5px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

#y_main .w .y_content .y_Cmaxbox .y_Cleft li:nth-child(2) {
  height: 130px;
  padding-top: 10px;
  border-top: 7px solid #fff;
}

#y_main .w .y_content .y_Cmaxbox .y_Cleft li:last-child {
  height: 100px;
}

#y_main .w .y_content .y_Cmaxbox .y_Cleft a:hover {
  cursor: pointer;
}

#y_main .w .y_baike {
  margin-top: 20px;
  height: 290px;
  display: flex;
  justify-content: space-between;
}

#y_main .w .y_baike .y_bk {
  width: 322px;
  height: 290px;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 1px 0 #ccc;
}

#y_main .w .y_baike .y_bk h3 {
  height: 32px;
  padding-left: 15px;
  line-height: 32px;
  color: #000;
  font-weight: bold;
  background: url("../img/baikebg.png") no-repeat;
}

#y_main .w .y_baike .y_bk div {
  padding: 5px;
}

#y_main .w .y_baike .y_bk ul {
  padding: 10px;
  margin-left: 15px;
  list-style: disc;
}
